.movieCard {
  width: 800px;
  padding: 30px;
  display: grid;
  grid-template-areas:
    "name name name name name"
    "year runtime genre genre genre"
    "plot plot plot plot plot"
    "rating trailer trailer watch watch";
}
.trailer {
  grid-area: trailer;
}
.trailerLink {
  width: 60%;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid rgb(27, 131, 228);
  color: rgb(27, 131, 228);
}
.trailerLink:hover {
  cursor: pointer;
  border: 2px solid rgb(8, 165, 238);
  color: rgb(8, 165, 238);
}
.watchLink {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  width: 60%;
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(27, 131, 228);
  border: 2px solid rgb(27, 131, 228);
}
.watchLink:hover {
  background-color: rgb(25, 97, 165);
  border: 2px solid rgb(25, 97, 165);
}
.watch {
  grid-area: watch;
}
.movie {
  margin-top: 40px;
  max-width: 1100px;
  color: #ffffff;
  background-color: black;
  display: flex;
  box-shadow: 3px 37px 10px -23px rgba(0, 0, 0, 0.75);
}
.runtime {
  font-size: 20px;
  color: #b9b9b9;
  grid-area: runtime;
}
.plot {
  grid-area: plot;
}
.name {
  font-size: 45px;
  grid-area: name;
  font-weight: normal;
}
.year {
  font-size: 20px;
  color: #b9b9b9;
  grid-area: year;
}
.poster {
  width: 300px;
  display: block;
}
.poster:hover {
  cursor: zoom-in;
}
.rating {
  grid-area: rating;
  display: block;
  font-size: 20px;
  padding-top: 25px;
  width: 130px;
}
.ratingGreen {
  padding: 4px;
  font-size: 20px;
  border-radius: 50%;
  background-color: green;
}
.ratingYellow {
  padding: 4px;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgb(228, 228, 30);
}
.rated {
  grid-area: rated;
}
.genre {
  font-size: 20px;
  color: #b9b9b9;
  grid-area: genre;
}
.country {
  grid-area: country;
}
.loading {
  margin: 140px 80px;
}
@media (max-width: 1050px) {
  .poster {
    width: 250px;
  }
  .trailerLink {
    width: 130px;
  }
  .watchLink {
    width: 130px;
  }
}
@media (max-width: 850px) {
  .genre {
    text-align: right;
  }
}
@media (max-width: 800px) {
  .movieCard {
    padding: 15px;
    grid-template-areas:
      "name name name name name"
      "year runtime runtime genre genre"
      "plot plot plot plot plot"
      "rating rating rating rating rating"
      "trailer trailer trailer watch watch";
  }
  .plot {
    padding-top: 5px;
  }
  .runtime {
    text-align: center;
  }
  .name {
    font-size: 35px;
  }
}
@media (max-width: 640px) {
  .poster {
    width: 150px;
  }
}
@media (max-width: 500px) {
  .movieCard {
    padding: 15px;
    grid-template-areas:
      "name name name name name"
      "year year runtime runtime runtime"
      "genre genre genre genre genre"
      "plot plot plot plot plot"
      "rating rating rating rating rating"
      "trailer trailer trailer trailer trailer"
      "watch watch watch watch watch";
  }
  .genre {
    text-align: left;
  }
  .trailerLink {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .watchLink {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .poster {
    width: 100px;
  }
}
@media (max-width: 400px) {
  .name {
    font-size: 25px;
  }
}
