* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
#root {
  background-image: url(./assets/bg.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
@media (max-width: 1150px) {
  .container {
    padding: 0 5%;
  }
}
