.container {
  max-width: 1100px;
  margin: 0 auto;
}
#root {
  background-image: url(./assets/bg.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
